<% include ./partials/header %> <% include ./partials/nav %>
<div class="container">
  <div class="blog">
    <h1>Add Blogs</h1>
    <form action="/addblog" method="POST">
      <div class="form">
      <div class="form-group">
        <label for="Title">Title</label
        ><input id="Title" class="form-control" type="text" name="blog[title]" required />
      </div>
      <div class="form-group">
        <label for="Image">Image</label
        ><input id="Image" class="form-control" type="text" name="blog[image]" required/>
      </div>
      <div class="form-group">
        <label for="Contents">Contents</label
        ><textarea id="Contents" class="form-control" name="blog[body]" required></textarea>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
  </div>
</div>
<% include ./partials/footer%>
